.Player {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 5em;
    /* background: red; */
}
.Player--bird {
    position: absolute;
    left: -1.25em;
    top: -1.5em;
    height: 7.5em;
    width: 7.5em;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2 ease-in-out;
    -webkit-transform-origin: 100% 0;
    transform-origin: 50% 50%;
    -webkit-transform: translateZ(0);
}
.Player--wings {
    /* Positioned from top left of parent.*/
    position: absolute;
    left: -0.7em;
    top: -0.1em;
    height: 3em;
    width: 3em;
    transform-origin: 50% 50%;
    animation: 0.4s flap alternate infinite;

}
@keyframes flap {
    from {

        transform: rotateX(50deg);
    }
    to {
        transform: rotateX(150deg);
    }
}
.Scoreboard {
    position: absolute;
    left: 50%;
    top: 10em;
    height: 30em;
    width: 40em;
    margin-left: -20em;
    box-sizing: border-box;
    text-align: center;
    -webkit-transform: translate(0, -40em);
    -webkit-transition: -webkit-transform 0.5s;
}
.Scoreboard.is-visible {
    -webkit-transform: none;
}
.Score {
    font-family: impact;
    font-size: 5.5em;
    position: inherit;
    margin-left: 0.5em;
    text-align: inherit;
    margin-top: 2.5em;
}
.High-score {
    font-family: impact;
    font-size: 5.5em;
    position: inherit;
    margin-left: 0.5em;
    text-align: inherit;
    margin-top: 3.7em;
}
.Game-Score {
    position: absolute;
    z-index: 100;
    font-size: 4em;
    margin-left: 49%;
    top: 1em;
    color: white;
    font-family: impact;
}

/*
.Scoreboard-restartText {
    font-family: 'Comic Sans MS', serif;
    font-size: 2.4em;
    color: white;
}
*/

body {
    background: black;
}
.browsehappy {
    margin: 0.2em 0;
    background: ?#?ccc?;
    color: #000;
    padding: 0.2em 0;
}
.GameCanvas {
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 102.4em;
    height: 57.6em;
    margin-left: -51.2em;
    margin-top: -28.8em;
    overflow: hidden;
/*    background-image: url('../images/bg.png');*/
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.Background{
  background: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background-repeat: repeat-x;
  background-position: 50% 100%;
}*/
.BackgroundTrees{
  position: absolute;
  top: 86%;
  left: 0%;
  background-image:url('../images/bgTrees3.png');
  background-repeat: repeat-x;;
  background-size: 6em;
  width: 120em;
  height: 14em;
/*  transform: translateZ(0);*/
}

.BackgroundCity{
  position: absolute;
  left: 0%;
  top: 76%;
  background-image: url('../images/bgCity2.png');
  background-repeat: repeat-x;;
  background-size: 30em;
  width: 150em;
  height: 15em;
/*  transform: scale(2);*/
}

.BackgroundClouds{
  position: absolute;
  left: 0%;
  top: 72%;
  width: 150%;
  height: 10em;
  background-image: url('../images/bgCityClouds2.png');
  background-repeat: repeat-x;
  background-size: 20em;
}

@keyframes parallax_bg {
  0% {
    background-position: -2400px 100%, -2000px 100%, -1800px 100%, -1600px 100%, -1200px 100%;
  }
  100% {
    background-position: 0 100%, 0 100%, 0 100%, 0 100%, 0 100%;
  }
}

.Game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19.2em;
    height: 10.8em;
    margin-left: -9.6em;
    margin-top: -5.4em;
    font-size: 10px;
}
.Controls {
    position: absolute;
}
.Ground {
    position: absolute;
    background-image: url('../images/ground.png');
    background-size: auto;
    width: 106em;
    height: 3em;
}
/*
@-webkit-keyframes animateGround {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-400px, 0, 0);
    }
}*/
/*
@keyframes animateGround {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-400px, 0, 0);
        transform: translate3d(-400px, 0, 0);
    }
}*/

.Clouds {
    position: absolute;
    background-image: url('../images/cloud.png');
    background-repeat: repeat-x;
    background-size: 14em;
    width: 130em;
    height: 14em;
}
.Pipedown1, .Pipedown2, .Pipedown3 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("/images/pipe2.png");
    background-repeat: no-repeat, repeat-y;
    width: 10em;
    height: 18em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Pipeup1, .Pipeup2, .Pipeup3 {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/images/pipe1.png");
    background-repeat: no-repeat, repeat-y;
    background-position: left bottom;
    width: 10em;
    height: 28em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Start.is-visible {
    -webkit-transform: none;
    transform: none;
}
.Scoreboard {
    color: white;
    position: absolute;
    left: 50%;
    top: 0em;
    height: 40em;
    width: 44em;
    margin-left: -20em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.9;
    background-image: url("/images/GameOver.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-transform: translate(0, -40em);
    transform: translate(0, -40em);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.Start {
    color: white;
    position: absolute;
    left: 50%;
    top: 0em;
    height: 40em;
    width: 44em;
    margin-left: -20em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.9;
    background-image: url("/images/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-transform: translate(0, -40em);
    transform: translate(0, -40em);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.Start h1 {
    font-size: 3em;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.Start-intro {
    margin-top: 20em;
    height: 15em;
    width: 30em;
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
    -webkit-transform: none;
    transform: none;
}
.Start-replay {
    position: absolute;
    cursor: pointer;
    margin-left: -6.8em;
    margin-top: 27em;
    height: 7.5em;
    width: 15em;
}
.sound{
  position: absolute;
}
.nosound{
  position: absolute;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
