.Player {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 5em;
    /* background: red; */
}
.Player--bird {
    position: absolute;
    left: -1.25em;
    top: -1.5em;
    height: 7.5em;
    width: 7.5em;
}
.Player--wings {
    /* Positioned from top left of parent.*/
    position: absolute;
    left: -0.5em;
    top: 3em;
    height: 3em;
    width: 3em;
    transform-origin: top left;
    animation: 0.4s flap alternate infinite;
}
@keyframes flap {
    from {
        transform: rotateX(50deg);
    }
    to {
        transform: rotateX(150deg);
    }
}
.Scoreboard {
    position: absolute;
    left: 50%;
    top: 10em;
    height: 30em;
    width: 40em;
    margin-left: -20em;
    box-sizing: border-box;
    background: purple;
    text-align: center;
    /* background-image: url('../images/scoreboard.png'); */
    -webkit-transform: translate(0, -40em);
    -webkit-transition: -webkit-transform 0.5s;
}

/*
.PipeUpper {
    bottom: 35em;
    position: absolute;
    width: 5.2em;
    height: 31em;
    background-image: url('/images/pipe1.png');
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.PipeLower {
    top: 25em;
    position: absolute;
    width: 5.2em;
    height: 31em;
    background-image: url('/images/pipe2.png');
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.PipeLower {
    position: absolute;
    width: 5.2em;
    height: 31em;
    background-size: 100% 100%;
    background-image: url('/images/pipe2.png');
    -webkit-transform: translateZ(0);
}

.PipeUpper {
    position: absolute;
    width: 5.2em;
    height: 31em;
    background-size: 100% 100%;
    background-image: url('/images/pipe1.png');
    -webkit-transform: translateZ(0);
}
.PipePair div {
    -webkit-transform: translateZ(0);
    -webkit-animation: pipes 8s linear;
}
@keyframes pipes {
    from {
        transform: translate3d(104em, 0, 0);
    }
    to {
        transform: translate3d(-10em, 0, 0);
    }
}
*/

.Scoreboard.is-visible {
    -webkit-transform: none;
}
.Scoreboard-restart {
    margin-top: 20em;
    font-size: inherit;
    padding: 0.4em 1.5em;
    border: 0.2em solid white;
    background: none;
    cursor: pointer;
}
.Scoreboard-restartText {
    font-family: 'Comic Sans MS', serif;
    font-size: 2.4em;
    color: white;
}
body {
    background: black;
}
.browsehappy {
    margin: 0.2em 0;
    background: ?#?ccc?;
    color: #000;
    padding: 0.2em 0;
}
.GameCanvas {
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 102.4em;
    height: 57.6em;
    margin-left: -51.2em;
    margin-top: -28.8em;
    overflow: hidden;
    /*  background: red;*/
    /*Added*/
    background-image: url('../images/bg.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.Game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19.2em;
    height: 10.8em;
    margin-left: -9.6em;
    margin-top: -5.4em;
    /*  background: red; */
    font-size: 10px;
}
.Controls {
    position: absolute;
}


.Ground {
    position: absolute;
    background-image: url('../images/ground.png');
    background-size: auto;
    width: 106em;
    height: 3em;
}
.Clouds {
	position: absolute;
	background-image: url('../images/cloud.png');
  background-repeat: repeat-x;
  background-size: 14em;
	width: 200em;
	height: 14em;
}



@media -sass-debug-info {
    filename {
        font-family: file\: \/\/C\: \/Vef_last_assign\/vef4\/app\/styles\/_game-canvas\.scss;
    }
    line {
        font-family: \0000396;
    }
}
.Grass {
    height: 2em;
    width: 180em;
    position: absolute;
    bottom: 0;
    background-image: url("/images/grass2.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 14px 2em;
    z-index: 100;
    -webkit-animation: animateGrass linear infinite;
    -os-animation: animateGrass linear infinite;
    animation: animateGrass linear infinite;
    -webkit-animation-duration: 1.456s;
    animation-duration: 1.456s;
}
@-webkit-keyframes animateGrass {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-400px, 0, 0);
    }
}
@keyframes animateGrass {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-400px, 0, 0);
        transform: translate3d(-400px, 0, 0);
    }
}
.Pipedown1, .Pipedown2, .Pipedown3 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("/images/pipe2.png");
    /*
  background-image: url("/images/pipe2.png"), url("/images/bown.png");
  */
    background-repeat: no-repeat, repeat-y;
    width: 10em;
    height: 18em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Pipeup1, .Pipeup2, .Pipeup3 {
    position: absolute;
    top: 0;
    right: 0;
    /*
  background-image: url("/images/pipe1.png"), url("/images/bup.png");
*/
    background-image: url("/images/pipe1.png");
    background-repeat: no-repeat, repeat-y;
    background-position: left bottom;
    width: 10em;
    height: 28em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media -sass-debug-info {
    filename {
        font-family: file\: \/\/C\: \/Vef_last_assign\/vef4\/app\/styles\/_scoreboard\.scss;
    }
    line {
        font-family: \000032;
    }
}
